<div class="container d-flex flex-column align-items-center my-4">
  <span class="text-muted">請輸入您的支出</span>

  <form action="/records/{{spend._id}}?_method=PUT" method="POST">
    <div class="form-group d-flex justify-content-between my-4" style="width: 300px;">
      <label for="formGroupExampleInput">名稱：</label>
      <input type="text" class="form-control" id="formGroupExampleInput" name="name" value="{{spend.name}}"
        style="width: 200px;" required>
    </div>

    <div class="form-group d-flex justify-content-between my-4" style="width: 300px;">
      <label for="formGroupExampleInput2">日期：</label>
      <input type="date" class="form-control" id="formGroupExampleInput2" name="date" value="{{spend.date}}"
        style="width: 200px;" required>
    </div>

    <div class="form-group d-flex justify-content-between my-4" style="width: 300px;">
      <label for="exampleFormControlSelect1">類別：</label>
      <select class="form-control" id="exampleFormControlSelect1" name="icon" style="width: 200px;" required>
        <option value="fas fa-home">家居物業</option>
        <option value="fas fa-shuttle-van">交通出行</option>
        <option value="fas fa-grin-beam">休閒娛樂</option>
        <option value="fas fa-utensils">餐飲食品</option>
        <option value="fas fa-pen">其他</option>
      </select>
    </div>

    <div class="form-group d-flex justify-content-between my-4" style="width: 300px;">
      <label for="formGroupExampleInput">金額：</label>
      <input type="text" class="form-control" id="formGroupExampleInput" oninput="value=value.replace(/[^\d]/g,'')"
        name="amount" value="{{spend.amount}}" style="width: 200px;" required>
    </div>

    <button class="btn active text-white border-dark mt-3" type="submit" name="answer" value="edit"
      style="width: 100px;background-color: rgb(240, 65, 65); font-size: 20px; margin-left: 100px;">修改</button>
    <button class="btn active text-white border-dark mt-3 ml-1" type="submit" name="answer" value="/"
      style="width: 100px;background-color: rgba(33, 185, 2, 0.733); font-size: 20px;">返回</button>
  </form>
</div>