<div class="container d-flex flex-column align-items-center my-4">
  <span class="text-muted">請輸入您的支出</span>

  <form action="/{{id}}/edit" method="POST">
    <div class="form-group d-flex justify-content-between my-4" style="width: 300px;">
      <label for="formGroupExampleInput">名稱：</label>
      <input type="text" class="form-control" id="formGroupExampleInput" name="name" style="width: 200px;" required>
    </div>

    <div class="form-group d-flex justify-content-between my-4" style="width: 300px;">
      <label for="formGroupExampleInput2">日期：</label>
      <input type="date" class="form-control" id="formGroupExampleInput2" name="date" style="width: 200px;" required>
    </div>

    <div class="form-group d-flex justify-content-between my-4" style="width: 300px;">
      <label for="exampleFormControlSelect1">類別：</label>
      <select class="form-control" id="exampleFormControlSelect1" name="category" style="width: 200px;" required>
        <option value="家居物業">家居物業</option>
        <option value="交通出行">交通出行</option>
        <option value="休閒娛樂">休閒娛樂</option>
        <option value="餐飲食品">餐飲食品</option>
        <option value="其他">其他</option>
      </select>
    </div>

    <div class="form-group d-flex justify-content-between my-4" style="width: 300px;">
      <label for="formGroupExampleInput">金額：</label>
      <input type="text" class="form-control" id="formGroupExampleInput" name="amount" style="width: 200px;" required>
    </div>

    <button class="btn btn-lg active text-white border-dark mt-3" type="submit"
      style="width: 200px;background-color: coral; font-size: 20px; margin-left: 100px;">新增</button>
  </form>
</div>